/* 
AWESOME APP
Author: Dev Master
Description: First Proyect - 6 Edition
Version: 1.0
*/

/**************************
Fonts
**************************/
@font-face {
    font-family: 'Barlow';
              src:  url('../fonts/barlow/Barlow-Regular.ttf')   format('truetype');
			  font-weight: 400;
			  font-style: normal;
}
@font-face {
    font-family: 'Barlow';
              src:  url('../fonts/barlow/Barlow-Medium.ttf')    format('truetype');
			  font-weight: 500;
			  font-style: normal;
}
@font-face {
    font-family: 'Barlow';
              src:  url('../fonts/barlow/Barlow-Bold.ttf')      format('truetype');
			  font-weight: 700;
			  font-style: normal;
}

/**************************
Typography
**************************/
html { /* es igual a :root (pseudo-clase) */
    font-size: 18px;
}
body {
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1; /*line-height de 1 por que????*/
}
h1 {
    font-size: 45px;
    line-height: 52px;
}
h2 {
    font-size: 36px;
    line-height: 43px;
}
h3 {
    font-size: 21px;
    line-height: 25px;
}
h4 {
    font-size: 20px;
    line-height: 24px;
}
h5 {
    font-size: 18px;
    line-height: 21px;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  padding-top: 0;
  margin-top: 0; 
}
p {
    line-height: 23px;
    margin-bottom: 21px;
}
a {
    text-decoration: none;
}

/**************************
General
**************************/
:root { /* es igual a <html> */
    --primary-color: #FFF;
    --secondary-color: #000;
    --tertiary-color: #A0A3A8;
    --quaternary-color: #747474;
    --quinary-color: #4B4C50;

    --primary-background: linear-gradient(134deg, #FD702C 0%, #F4375C 100%);
    --secondary-background: #F5FAFD;
    --tertiary-background: #252422;

    --primary-shadow: 0 1px 5px 0 rgba(0,0,0,0.10);
    --secondary-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
}
*,
*:after,
*::after,
*:before,
*::before {
box-sizing: border-box;
}
img {
    max-width: 100%; /* imagenes fluidas RWD */
    height: auto;
}
figure {
    margin: 0; /* le quitamos el margin por defecto de esta etiqueta */
}
ul,
ol {
    list-style-type: none;

    padding: 0;
    margin: 20px 0 35px 0;
}
li {
    line-height: 21px;
    margin-bottom: 20px;
}
.main-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.main-container-small {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}
.main-container-slider {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.list-check li {
    padding-left: 25px;
    position: relative;
}
.list-check img{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* centrado vertical */
}
.header-section {
    text-align: center;
}
.header-section h2 {
    margin-bottom: 19px;
}
.header-section p {
    color: #A0A3A8;
    max-width: 824px;
    margin-left: auto;
    margin-right: auto;
}

/**************************
Style
**************************/
/* header */
.main-header {
    height: 115px;

    position: absolute; /* position relative tiene el html por defecto */
    top: 0;
    left: 0;
    width: 100%;
}
.header {
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* centrado en el eje secundario */

}
.menu ul {
    display: flex;
    margin: 0;
}
.menu li {
    margin-left: 45px;
    margin-bottom: 0;
}
.menu a {
    text-transform: uppercase;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
}

/* hero-banner */
.main-hero-banner {
    background-image: linear-gradient(134deg, #FD702C 0%, #F4375C 100%);
    padding-top: 115px;
 }
.hero-banner {
    height: 546px;

    display: flex;
    justify-content: space-between;
}
.description {
    width: 50%;
    display: flex;
    align-items: center;
}
.description > div {
    max-width: 531px;
    width: 100%;

    color: #FFF;
}
.description h1 {
    margin-top: 0;
    margin-bottom: 21px;
}
.description ul {
    margin-bottom: 40px;
}
.description .btn {
    display: inline-block; /* solo quiero que inline-block sea el boton de esta seccion, ya que si lo hago para todos, el del menu se desalineará*/
}
.btn {
    text-transform: uppercase;
    color: #FFF;
    padding: 10px 29px;
    font-size: 15px;

    border: 2px solid #FFFFFF;
    border-radius: 23px;
}
.image-banner {
    width: 50%;
    text-align: right;
}
.image-banner img {
    padding-top: 37px;
    padding-right: 69px;
}

/* menu-mobile */
.menu-mobile {
    display: none;

    position: relative;
    z-index: 4;
}
.icon-open {
    display: inline-block;
}
.icon-open::before {
    font-family: 'Linearicons';
    content: "\e92b";
    color: #FFF;
    font-size: 42px;  
}

/* menu-canvas */
.menu-canvas {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 2;

    transform: translateX(-100%);
    transition: all .3s ease;
}
.menu-canvas.canvas-visibility{
    transform: translateX(0);
}
.menu-canvas ul {
    text-align: center;
}
.menu-canvas li a {
    font-size: 32px;
    text-transform: capitalize;
    color: #FFF;
}

.menu-canvas > a {
    position: absolute;
    top: 42px;
    right: 20px;
}
.icon-close::before {
    font-family: 'Linearicons';
    content: "\e92a";
    color: #FFF;
    font-size: 42px; 
}

/* features */
.main-features {
    padding-top: 97px;
}
.features {
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    padding-bottom: 66px; 
    border-bottom: 1px; /* para asignar un solo lado del borde */
    border-bottom-style: solid;
    border-bottom-color: #F1F1F1; 
}
.features-item {
    max-width: 337px;
    width: 28.5593220339%; /* 337px */
    margin-right: 5.3389830508%; /* 63px; */
    margin-bottom: 39px;
    padding-left: 77px;

    position: relative;
}
.features-item:nth-child(3n) {
    margin-right: 0; /* delete margin terterary and senary */
}
/* feature icon */
.features-item:nth-child(1):before {
    font-family: 'Linearicons';
    content: "\e756";
    font-size: 52px;
    color: #F4583B;
    -webkit-text-stroke-width: .1px;

    position: absolute;
    top:0;
    left: 0;
}
.features-item:nth-child(2):before {
    font-family: 'Linearicons';
    content: "\e672";
    font-size: 52px;
    color: #F4583B;
    -webkit-text-stroke-width: .1px;

    position: absolute;
    top:0;
    left: 0;
}
.features-item:nth-child(3):before {
    font-family: 'Linearicons';
    content: "\e626";
    font-size: 52px;
    color: #F4583B;
    -webkit-text-stroke-width: .1px;

    position: absolute;
    top:0;
    left: 0;
}
.features-item:nth-child(4):before {
    font-family: 'Linearicons';
    content: "\e7ae";
    font-size: 52px;
    color: #F4583B;
    -webkit-text-stroke-width: .1px;

    position: absolute;
    top:0;
    left: 0;
}
.features-item:nth-child(5):before {
    font-family: 'Linearicons';
    content: "\e6d9";
    font-size: 52px;
    color: #F4583B;
    -webkit-text-stroke-width: .1px;

    position: absolute;
    top:0;
    left: 0;
}
.features-item:nth-child(6):before {
    font-family: 'Linearicons';
    content: "\e7ed";
    font-size: 52px;
    color: #F4583B;
    -webkit-text-stroke-width: .1px;

    position: absolute;
    top:0;
    left: 0;
}
.features-item h3 {
    margin-bottom: 18px;
}
.features-item p {
    font-size: 16px;
    line-height: 21px;
    color: var(--tertiary-color);
    margin-top: 0;
}

/* intro */
.intro {
    min-height: 540px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro-top {
    width: 37.9661016949%; /* 448px; */
    align-self: flex-end;
}
.intro-description {
    width: 62.0338983051%; /* 732px; */
}
.intro-description h2 {
    margin-bottom: 11px;
    max-width: 619px;
}
.intro-description span{
    display: inline-block;
    color: #A0A3A8;
    margin-top: 0;
    margin-bottom: 38px;
}
.intro-description p {
    margin-top: 0;
    margin-bottom: 25px;
}
.intro-description ul {
    color: var(--tertiary-color);
}
.intro-content {
    max-width: 605px;
    padding-left: 58px;
}

/* screenshots */
.main-screenshots {
    background-color: #F5FAFD;
    padding-top: 94px;
    padding-bottom: 132px;
}
.screenshots p {
    max-width: 745px;
}
.screenshots figure {
    margin-top: 43px;
    text-align: center;
}
.screenshots img {
    border-radius: 12px;
}

/* package */
.main-package {
    padding-top: 96px;
}
.package {
    border-bottom: 1px solid #F1F1F1;
    padding-bottom: 70px;
}
.package-list {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.package-item {
    width: 23.7288135593%; /* 280px */
    margin-bottom: 30px;
    
}
.package-item:not(:last-child) {
    margin-right: 1.6949152542%;  /* 20px */
}
.package-card {
    max-width: 280px; /* primero en desktop es sin max-width */
    background-color: #F5FAFD;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.10);
    border-radius: 12px;
    text-align: center;

    cursor: pointer;
}
.package-card h4 {
    color: var(--quinary-color);
    margin-bottom: 0;
    height: 52px;
    line-height: 52px;
}
.package-card strong {
    background-color: #FFF;
    display: block;
    height: 105px;
    line-height: 105px; /* centrado vertical */
    font-weight: 400;
    font-size: 36px;
}
.package-card sup,
.package-card span {
    font-size: 20px;
}
.package-card ul {
    margin: 22px 0 57px 0;
    padding: 0 38px 0 38px;
}
.package-card li {
    color: #A0A3A8;
    margin: 0;
    padding-bottom: 12px;
    border-bottom: 1px dashed #DCE2E6;
}
.package-card li:not(:first-child) {
    padding-top: 8px;
}
.package-card p {
    color: #A0A3A8;
    font-size: 16px;
    margin-bottom: 15px;
}
.package-card a {
    font-size: 14px;
    color: #747474;
    font-weight: 700;
    text-transform: uppercase;

    border: 2px solid #747474;
    border-radius: 20px;

    display: inline-block;
    padding: 11px 30px;
    margin-bottom: 39px;
}

/* package:hover */
.package-card:hover {
    background-color: #FFF;
}
.package-card:hover strong {
    background-image: linear-gradient(134deg, #FD702C 0%, #F4375C 100%);
    color: #FFF;
}
.package-card:hover a {
    color: #FFF;
    background-image: linear-gradient(134deg, #FD702C 0%, #F4375C 100%);
    border: 2px solid transparent;
}

/* customer */
.main-customer {
    padding-top: 93px;
    padding-bottom: 98px;
}
/* slider 🎆*/
.slider {
    margin-top: 62px;
    margin-bottom: 0;

    position: relative;
}
.slider li {
    margin: 0 10px;
}
.slider li > div {
    background-color: #F5FAFD;
    border-radius: 12px;
    margin-bottom: 0;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.10);

    display: block;
    max-width: 380px;
    width: 100%;

    padding: 30px;
}
.slider p {
    color: #A0A3A8;
    margin-top: 0;
}
.slider li > div > div {
    display: flex;
    align-items: center;
}
.slider figure {
    margin-right: 34px;
}
.slider img {
    border-radius: 50%;
}
.slider h3 {
    margin-bottom: 8px;
}
.slider span {
    font-size: 16px;
    color: #A0A3A8;
}
.owl-stage-outer {
    overflow: hidden; /* para que lo que sale del contenedor, no se visualice */
}

/* slider 🎆 - flecha izquierda y derecha */
.owl-nav span {
    font-size: 0;
}
.owl-prev,
.owl-next {
    width: 26px;
    height: 26px;
    padding: 0;
    font-family: 'Linearicons';
    font-size: 26px;
    color: #A0A3A8;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.owl-prev {
    left: -39px;
}
.owl-next {
    right: -39px;
}

.owl-prev::before {
    content: "\e93b";
}
.owl-next::before {
    content: "\e93c";
    
}
.owl-nav button {
    outline: none;
    border: initial;
    background-color: transparent;
}
/* slider 🎆 - dots */
.owl-dots {
    margin-top: 45px;
    text-align: center;
}
.owl-dots button:not(:last-child) {
    margin-right: 10px;
}
.owl-dots button {
    padding: 0;
    border: 2px solid #787677;
    width: 10px;
    height: 10px;

    border-radius: 50%;
}
.owl-dots button.active {
    background-image: linear-gradient(134deg, #FD702C 0%, #F4375C 100%);
    border: 2px solid transparent;
}
.owl-dots button:focus {
    outline: none;
}

/* slider 🎆 - si los item del slider se coloquen uno al lado de otro*/
.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
}

/* download-app */
.main-download-app {
    background-image: linear-gradient(134deg, #FD702C 0%, #F4375C 100%);
    padding-top: 94px;
    padding-bottom: 68px;
}
.download-app .header-section h2 {
    color: #FFF;
}
.download-list  {
    width: 100%;
    margin-top: 45px;

    display: flex;
    justify-content: center; /* visualizamos que los elementos estan centrados */
}
.download-item {
    background-color: #FFF;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
    border-radius: 12px;

    padding: 21px;
    margin-bottom: 20px;
    max-width: 340px;
    width: 31.4814814815%;

    display: flex;
    align-items: center;
}
.download-item:not(:last-child) {
    margin-right: 2.7777777778%; /* 30px; */
}
.download-item h3 {
    margin-bottom: 3px;
}
.download-item p {
    font-size: 16px;
    color: #A0A3A8;
    margin-top: 0;
    margin-bottom: 0;
}
.download-description {
    margin-left: 20px;
}

/* footer */
.main-footer {
    background-color: #252422;
    padding-top: 53px;
    padding-bottom: 53px;
}
.footer p {
    font-size: 16px;
    color: #A0A3A8;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.awesome-link ul {
    margin: 0;
    display: flex;
    justify-content: center;
}
.awesome-link li:not(:last-child) {
    margin-right: 30px;
}
.awesome-link  a {
    font-size: 25px;
    color: #FFF;
}

/**************************
Media Queries
**************************/
@media only screen and (max-width: 1280px) {
    /* slider 🎆 */
    .main-container-slider {
        max-width: 1024px;
    }
}
@media only screen and (max-width: 1130px) {
    /* slider 🎆*/
    .main-container-slider {
        max-width: 853px;
    }
}
@media only screen and (max-width: 1024px) {
    /* Typography */
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 28px;
    }
    
    /* General */ 
    .main-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* header */
    .main-header {
        position: fixed;
        z-index: 1;

        background-color: #000;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
    }
    .menu {
        display: none;
    }
    /* hero-banner */
    .description ul {
        display: none;
    }
    
    .image-banner {
        display: flex;
        align-items: center;
    }
    .image-banner img {
        padding-top: 0;
        padding-right: 0;
    }
    /* menu-mobile */
    .menu-mobile {
        display: block;
    }

}
@media only screen and (max-width: 940px) {
    /* slider 🎆*/
    .main-container-slider {
        max-width: 700px;
    }
}
@media only screen and (max-width: 880px) {
    /* package */
    .package-item {
        width: 50%;
    }
    .package-card {
        margin-left: auto;
        margin-right: auto;
    }
    .package-item:not(:last-child) {
        margin-right: 0; /* 20px; */
    }

    /* download */
    .download-list {
        align-items: center;
        flex-direction: column; /* cambiamos de eje */
    }
    .download-item {
        width: 100%;
    }
    .download-item:not(:last-child) {
        margin-right: 0;
    }

    /* slider 🎆*/
    .main-container-slider {
        max-width: 580px;
    }
}

@media only screen and (max-width: 768px) {
    /* En este breakpoint reduciremos los paddding de cada seccion */
    .main-features {
        padding-top: 53px;
    }
    .features {
        padding-bottom: 0;
    }
    .main-intro {
        padding-top: 53px;
    }
    .main-screenshots {
        padding-top: 50px;
        padding-bottom: 88px;
    }
    .main-package {
        padding-top: 52px;
    }
    .package {
        padding-bottom: 35px;
    }
    .main-customer {
        padding-top: 49px;
        padding-bottom: 54px;
    }
    .main-download-app {
       padding-top: 50px;
       padding-bottom: 45px; 
    }

    /* hero-banner */
    .hero-banner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .description,
    .image-banner {
        width: 100%;
    }
    .image-banner {
        margin-top: 30px;
    }
    .image-banner img {
        max-width: 310px;
        width: 100%;
        margin: 0 auto;
    }
    .description > div {
        max-width: initial;
        text-align: center;
    }
    .description p {
        display: none;
    }

    /* features */
    .features-item {
        width: 47.2457627119%;
    }
    .features-item:nth-child(3n) {
        margin-right: 5.3389830508%; /* 65px; */
    }
    .features-item:nth-child(2n) {
        margin-right: 0;
    }

    /* intro */
    .intro {
        flex-direction: column-reverse;
    }
    .intro-content {
        padding-left: 0;
    }
    .intro-description,
    .intro-top {
        width: 100%;
    }
    .intro-top{
        text-align: center;
    }

    /* package */
    .package-list {
        flex-direction: column;
    }
    .package-item {
        width: 100%;
    }

    /* slider 🎆*/
    .main-container-slider {
        max-width: 400px;
    }
}

@media only screen and (max-width: 640px) {
    /* Typography */
    h1 {
        font-size: 32px;
        line-height: 43px;
    }
    h2 {
        line-height: 33px;
    }

    /* slider 🎆*/
    .main-container-slider {
        max-width: 333px;
    }
}

@media only screen and (max-width: 580px) {
    /* features */
    .features {
        flex-direction: column;
    }
    .features-item {
        width: 100%;
        margin-right: 0;
    }
    .features-item:nth-child(3n) {
        margin-right: 0;
    }

    /* slider 🎆*/
    .owl-nav button {
        display: none;
    }
}

/* Dispositivos como iphone 4*/
@media only screen and (max-width: 375px) {}
